{% extends "layout.html" %}
{% block header %}About{% endblock header %}
{% block body %}
  <h1>Professional</h1>
  <p>Thanks for visiting my website. I'm interested in software development
  technologies and methodologies, especially those that can be applied to
  the development of embedded systems. This includes Python, Embedded Linux,
  testing and mocking, TCP/IP, ZigBee, GSM/CDMA, just to name a few. I 
  get an opportunity to work with all this and more as the Software Engineering
  Manager at <a href="http://www.spectrumdsi.com/">Spectrum Design Solutions</a> 
  in Minneapolis, MN.      
  </p>
  
  <h1>Personal</h1>
  <p>I live in St. Paul, MN with my wife Suzanne and our dog Bella. I met Suzanne
  while playing Ultimate Frisbee, a sport we continue to play when the weather cooperates.
  Soccer is my primary activity. The spring of 2013 marks the ten year anniversary of
  the co-ed recreational soccer team <a href="http://www.blazarfc.com">Blazar FC</a>
  that I organize and play on. I'm also an occasional bike commuter and triathlete.</p>
  <p>I'm a big fan of craft beer, which makes the Twin Cities a great place to live
  right now because new breweries are opening all the time. Some of my favorite 
  breweries are:
    <ul>
      <li><a href="http://www.summitbrewing.com">Summit</a></li>
      <li><a href="http://foundersbrewing.com">Founders</a></li>
      <li><a href="http://www.deschutesbrewery.com">Deschutes</a></li>
      <li><a href="http://odellbrewing.com">Odell</a></li>
    </ul>
  </p>
{% endblock body %}
