{% extends "layout.html" %}
{% block header %}About{% endblock header %}
{% block body %}
  <h1>Hi</h1>
  <p>I am 33 and live in St. Paul, MN with my wife Suzanne and our dog Bella.
  I was born and raised in Bemidji, MN, and eventually moved to Minneapolis to
  attend the University of Minnesota. I started with a major in Electrical
  Engineering, and ended with Bachelor degrees in both Electrical Engineering
  and Computer Engineering, plus minors in Mathematics and Computer Science.
  It's not quite as impressive as it might sound, since the interesting classes
  were often applicable to one or more of the majors and minors. I went to 
  grad school part time at the U of M while working at my first job and got a 
  Masters of Computer Engineering. 
  </p>
  
  <h1>Programming and Technology</h1>
  <p>I'm a nerd and I love reading and talking about programming and technology. 
  I usually focus my attention on topics that will help me and my coworkers do our
  jobs better. In my current role as the manager of software engineering at a design
  services company, I'm especially interested in things that help my team improve the
  quality of their software. This includes repeatableable developer environments, unit
  testing, continuous integration, and iterative development methodologies. I'm always
  on the lookout for best practices from the non-embedded software development world
  that I can try to apply to the development of embedded software.
  </p>
  <p>Here are some of the languages, tools, and technologies that I'm most interested in
  right now:
    <ul>
      <li>Languages: Python, C, C#</li>
      <li>Python packages: Buildout, nose, mock, Fabric</li>
      <li>Jenkins</li>
      <li>Embedded Linux</li>
      <li>TCP/IP</li>
      <li>ZigBee, 802.15.4, Bluetooth, GSM/CDMA, 802.11, and other wireless and wired technologies</li>
    </ul> 
  </p>
  
  <h1>Sports</h1>
  <p>I met Suzanne while playing Ultimate Frisbee, a sport we continue to play when the 
  weather cooperates. Soccer is my primary activity. The spring of 2013 marks the ten year 
  anniversary of the co-ed recreational soccer team <a href="http://www.blazarfc.com">Blazar FC</a>
  that I organize and play on. I'm also an occasional bike commuter and triathlete.
  </p>
  
  <h1>Beer</h1>
  <p>I'm a big fan of craft beer, which makes the Twin Cities a great place to live
  right now because new breweries are opening all the time. Some of my favorite 
  breweries are:
    <ul>
      <li><a href="http://www.summitbrewing.com">Summit</a></li>
      <li><a href="http://foundersbrewing.com">Founders</a></li>
      <li><a href="http://www.deschutesbrewery.com">Deschutes</a></li>
      <li><a href="http://odellbrewing.com">Odell</a></li>
    </ul>
  </p>
  
  <h1>Professional</h1>
  <p>I am currently the Software Engineering manager at <a href="http://www.spectrumdsi.com/">Spectrum Design Solutions</a> 
  in Minneapolis, MN. Our focus is wireless design services. The Software Engineering group handles the kernel, driver, 
  bootloader, BSP and application development for systems with an operating system like Embedded Linux or Windows CE.
  We get the opportunity to work with companies in many different industries and with many new and exciting technologies
  like <a href="http://en.wikipedia.org/wiki/Bluetooth_low_energy">Bluetooth low energy</a> and <a href="http://en.wikipedia.org/wiki/LTE_(telecommunication)">
  4G LTE</a>. It's really challenging and a lot of fun.
  </p>
{% endblock body %}
