{% extends "layout.html" %}
{% block header %}About{% endblock header %}
{% block body %}
  <h1>Professional</h1>
  <p>Thanks for visiting my website. I'm interested in software development
  technologies and methodologies, especially those that can be applied to
  the development of embedded systems. This includes Python, Embedded Linux,
  testing and mocking, TCP/IP, ZigBee, GSM/CDMA, just to name a few. I 
  get an opportunity to work with all this and more as the Software Engineering
  Manager at <a href="http://www.spectrumdsi.com/">Spectrum Design Solutions</a> 
  in Minneapolis, MN.      
  </p>
  
  <h1>Personal</h1>
  <p></p>
  
  <h1>Find me on the web</h1>
  <p>
    <ul>
      <li><a href="https://twitter.com/tpmanley">Twitter</a></li>
      <li><a href="https://github.com/tpmanley">GitHub</a></li>
      <li><a href="https://bitbucket.org/tmanley">Bit Bucket</a></li>
      <li><a href="http://www.linkedin.com/pub/tom-manley/9/28a/217/">Linked In</a></li>
    </ul>
  </p>
{% endblock body %}
