{% extends "layout.html" %}
{% block header %}Home{% endblock header %}
{% block body %}
  <h1>Welcome</h1>
  <p>Thanks for visiting my website. There isn't a whole lot to see here right now.
  I just decided it was time I staked out my own little place on the Internet because
  it seems like the cool thing to do.
  </p>
  <h2>Where you can find me</h2>
  <p>
    <ul>
      <li><a href="https://twitter.com/tpmanley">Twitter</a></li>
      <li><a href="https://github.com/tpmanley">GitHub</a></li>
      <li><a href="https://bitbucket.org/tmanley">Bit Bucket</a></li>
      <li><a href="http://www.linkedin.com/pub/tom-manley/9/28a/217/">Linked In</a></li>
    </ul>
  </p>
{% endblock body %}
