{% extends "layout.html" %}
{% block header %}Home{% endblock header %}
{% block body %}
  <h1>Welcome</h1>
  <p>Thanks for visiting my website! I'm still working on the site, but in the
  meantime you can find me at these other places:
    <ul>
      <li>tom [dot] manley [at] gmail [dot] com
      <li><a href="https://twitter.com/tpmanley">Twitter</a></li>
      <li><a href="https://github.com/tpmanley">GitHub</a></li>
      <li><a href="https://bitbucket.org/tmanley">Bit Bucket</a></li>
      <li><a href="http://www.linkedin.com/pub/tom-manley/9/28a/217/">Linked In</a></li>
    </ul>
  </p>
{% endblock body %}
